@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
}

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}

body {background-image: url("peakpx.jpg");
  background-size: cover; /* Resize the background image to cover the entire container */
  background-repeat: no-repeat; /* Do not repeat the image */
  border-left: solid rgb(0, 0, 0) 5vh;
  border-right: solid rgb(0, 0, 0) 5vh;
  border-bottom: solid rgb(0, 0, 0) 5vh;
  margin: 0;

  padding: 0;

  height: auto;
}
 

 /* Style the list */
 ul.tab {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1vh solid #ccc;
  background-color: rgb(32, 142, 173);
}


.name {
  text-shadow: .2vh .2vh;
  text-align: center;
}



ul.tab li a {
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 2vh 2vh;
  text-decoration: none;
  transition: 0.3s;
  font-size: 3.5vh;
}
.tab button.active {
  background-color: #ccc;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: rgb(221, 151, 126);}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: rgb(222, 171, 149);}

/* Style the tab content */
.tabcontent {
  padding: 3vh 14vh 3vh 3vh;
  border-top: none;
  color:black
}

.intext {
  font-size: 30px;
}

.tab {
  border: 1px solid rgb(255, 255, 255);
  background-color: #f1f1f1;
  text-shadow: .2vh .2vh;
}

.disney {
  font-size: 4vh;
  font-style: italic;
}


.quote {
  width: 50vh;
  height: 50vh;
  padding: 2vh;
  background-color: rgb(203, 218, 231);
  margin: 0; 
  border: 2vh solid rgb(187, 124, 7);
  font-style: italic;
}

.name {
  float: left;
  padding: 2vh;
  font-size: 3.5vh;
}



.grid {
  display: grid;
  grid-template-columns: repeat(4);
  grid-template-columns: 25vh 75vh 10vh;
  grid-template-columns:17% 70% 13%;
  font-size: 2vh;
  min-width: 0px;
  grid-gap: 2vh;
}




.grid .pets {
 grid-column: 1 / span 2;
 /* grid-row: 1 */
}

.grid .p {
  grid-column: 3 / 4;
  grid-row: 1
}


.gridhome {
  display: grid;
  font-size:7vh;
  grid-template-columns: 60% 40%;
}


.image {
  width: 20vh;
  padding: 1vh;
  grid-column: 1 / span 2;

  margin-left: auto;

  margin-right: auto; */
}



  .pokyimage {
    width: 20vh;
    padding: 1vh;
    grid-column: span 1 / 2;
    margin-left: auto;
  
    margin-right: auto; */
  
  }


.music {
  grid-column: 2 / 4;
  grid-row: 1
}
.sports {
  grid-row: 4 / 5;
  grid-column: -3 / -1;
  padding-bottom: 8vh;
}
.spimage {
  width: 20vh;
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  grid
}
.tablinks {
    float: right;
  }
  
  .tablinks a {
    text-decoration: none;
    color: inherit;
    margin-left: .25em;
  }
  
  .tablinks a:first-of-type {
    margin-left: 0;
  } 