

body {background-image: url("bgblue.jpg");
  background-size: cover; /* Resize the background image to cover the entire container */
  height: 1200px; /* You must set a specified height */
  background-repeat: no-repeat; /* Do not repeat the image */
}
 
 /* Style the list */
 ul.tab {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: rgb(114, 184, 211);
}

/* Selects the second element of div siblings */
div:nth-child(2) {
  background: rgb(122, 133, 160);
}

.name {
  text-shadow: 2px 2px;
}

/* Style the links inside the list items */
ul.tab li a {
  display: inline-block;
  color: rgb(33, 105, 80);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 40px;
}
.tab button.active {
  background-color: #ccc;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: rgb(172, 129, 212);}

/* Style the tab content */
.tabcontent {

  padding: 30px 12px 1px 30px;
  border: 50px solid rgb(141, 126, 174);
  border-top: none;
  color:rgb(33, 105, 80)
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  text-shadow: 2px 2px;
}

.name {
  float: left;
  padding: 14px;
  font-size: 40px;
}
.grid {
  display: grid;
  grid-template-columns: 300px 500px;
  column-gap: 10px;
  row-gap: 1em;
  font-size: x-large;
}

header {
  color:rgb(33, 105, 80);
}

.image {
  width: 265px;

}


.tablinks {
    float: right;
  }
  
  .tablinks a {
    text-decoration: none;
    color: inherit;
    margin-left: .25em;
  }
  
  .tablinks a:first-of-type {
    margin-left: 0;
  }
